<h2>{{hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
   [class.selected]="hero === selectedHero"
   (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">
	<h2>{{selectedHero.name | uppercase}} Details</h2>
	<div><span>id: </span>{{selectedHero.id}}</div>
	<div>
	  <label for="hero-name">Hero name: </label>
	  <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
	</div>
</div>